.forme-origami tr {
	display: block;
	margin: 0;
}


.forme-origami td {
	margin: 0;
	padding: 0;
}


.forme-origami input[type="checkbox"] {
	display: none;
}

.forme-origami input[type="checkbox"] + label {
	width: 25px;
	height: 25px;
	margin: 0;
	
	background: #F8F9FA;
	border: solid 1px black;
	
	cursor: pointer;
}

.forme-origami input[type="checkbox"]:checked + label {
	background: #28A745;
}